
h1 {
    color: #ff9900;
    text-align: center;
}

.ad {
    border-top: 2px solid #ff9900;
    border-bottom: 2px solid #ff9900;
} 

p {
    color:#ff9900;
    font-size: 25px;
}

body {
    background-color: #FFD873;
    font-family: 'Comfortaa', cursive;
}

img {
    height: 225px;
    width: 295px;
    border: 4px dashed #ff9900;
    padding: 5px;
    margin: 10px;
}
